/* THEMEING */
:root {
    /* COLORS */
    /* site theme colors */
    --theme-font: 'Poppins', sans-serif;
    --theme-base: #f39c12;
    --theme-color: #355592;
    --theme-black: #4e4e4e;
    --theme-pure-black: #000000;
    --theme-white: #ffffff;
    --theme-ase: #afb2bf;
    --theme-gray: #8e8e8e;
    --theme-f6: #F1F8FF;
    --theme-fb: #f6f6f6;
    --theme-bg: linear-gradient(-110deg, #f6f6f6 50%, #fff 50%);

    /* MISC */
    --indicator-border: 20px solid var(--theme-base);
}

* {
    scroll-margin-top: 80px;
    scroll-behavior: smooth;
}

/* GENERAL */
body {
    margin: 0;
    padding: 0;
    font-family: var(--theme-font);
}

/* WRAPPER & CONTAINER */
.wrapper {
    width: 100%;
    box-sizing: border-box;
}

.container {
    width: 95%;
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
}

/* MISC */
.section-title-separator {
    width: 100px;
    height: 10px;
    background-color: var(--theme-base);
    margin: 15px auto;
    border-radius: 10px;
}

.indicator {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

/* HOME */
#home {
    background: url(../img/home-bg.jpg) no-repeat center center fixed;
    background-size: cover;
    height: 83vh;
}

#home .container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    height: 90%;
}

/** text styling **/
#home .home-brand-name {
    color: var(--theme-white);
    background-color: var(--theme-color);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    padding: 10px 20px;
    border-radius: 10px;
}

#home h1 {
    color: var(--theme-white);
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
}

#home p {
    color: var(--theme-white);
    background-color: rgba(0, 0, 0, 0.7);
    background-size: cover;
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0;
}

/** buttons **/
#home .home-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

.button-bold {
    background-color: var(--theme-color);
    color: var(--theme-white);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    margin: 10px 0;
    display: inline-block;
    border: none;
}

.button-hollow {
    background-color: transparent;
    color: var(--theme-white);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    margin: 10px 0;
    display: inline-block;
    border: 2px solid var(--theme-white);
}

/* STATS */
#stats {
    background-color: var(--theme-f6);
}

#stats .container {
    display: flex;
    justify-content: space-between;
}

.card-stats {
    padding: 25px 75px;
    background-color: var(--theme-white);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.stat-value {
    color: var(--theme-color);
    font-size: 2rem;
    font-weight: bold;
}

.stat-desc {
    color: var(--theme-pure-black);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

/* CLASSES */
#classes {
    background: var(--theme-bg);
    padding: 50px 0;
}

#classes .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#classes h2 {
    color: var(--theme-color);
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

#classes p {
    color: var(--theme-black);
    font-size: 1rem;
    font-weight: bold;
}

/** classes tabs **/
.classes-tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    margin-top: 15px;
}

.classes-tab-button {
    background-color: var(--theme-color);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    margin: 10px 0;
    display: inline-block;
}

.classes-tab-button-activated {
    background-color: var(--theme-base);
    color: var(--theme-white);
}

/** classes tab contents **/
.classes-tab-contents {
    margin-top: 10px;
}

.classes-tab-content {
    display: none;
}

.classes-tab-content-activated {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

.classes-tab-content img {
    margin: 0 15px;
    width: 600px;
    height: 400px;
    overflow: hidden;
    object-fit: scale-down;
}

.classes-tab-content-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.classes-tab-content-text h3 {
    color: var(--theme-pure-black);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.classes-tab-content-text p {
    color: var(--theme-black);
    font-size: 1rem;
    font-weight: bold;
}

/* BMI-CALCULATOR */
#bmi-calculator .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

/** bmi calculator interact **/
.bmi-calculator-interact {
    width: 38%;
}

.bmi-calculator-interact-text-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.bmi-calculator-interact-text-field {
    display: flex;
    flex-direction: row;
    justify-content: normal;
    align-items: center;
    gap: 10px;
}

.bmi-calculator-interact-text-field input {
    width: 80%;
}

/** bmi calculator result **/
#bmi-calculator .bmi-calculator-result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#bmi-calculator .bmi-calculator-result .indicator {
    border-bottom: var(--indicator-border); /* straight triangle */
    position: relative;
    margin-top: -20px;
    left: 0; /** 6% to 86%  || gaps are 1% || level is +15% || jump to next level is 15 + 1 % */ /* 6 + 15 = 21*/
}


/* TRAINERS */
#trainers {
    padding: 50px 0;
    background-color: var(--theme-f6);
}

#trainers .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

#trainers h2 {
    color: var(--theme-color);
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

#trainers p {
    color: var(--theme-black);
    font-size: 1rem;
    font-weight: bold;
}

/** trainers **/
.trainers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    margin-top: 15px;
    width: 100%;
}

.trainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    width: 300px;
    height: 350px;
}

.trainer-img {
    width: 100%;
    height: 100%;
    border: var(--theme-base) 2px solid;
    border-radius: 5px;
}

.trainer-img-decorator {
    position: absolute;
    width: 100px;
    height: 8px;
    background-color: var(--theme-color);
}

.direction-north {
    left: 33%;
    top: -10px;
}

.direction-south {
    left: 33%;
    top: 100%;
}

.direction-east {
    rotate: 90deg;
    top: 50%;
    left: -18%;
}

.direction-west {
    rotate: 90deg;
    top: 50%;
    left: 86%;
}


.trainer:hover {
    .direction-north {
        width: 100px;
    }

    .direction-east {
        width: 200px;
        left: -34.5%;
    }

    .direction-west {
        width: 200px;
        left: 69.5%;
    }

    .direction-south {
        width: 200px;
        left: 50px;
    }

    .trainer-info {
        opacity: 1;
    }
}

.trainer-info {
    opacity: 0;
    position: absolute;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.trainer-info h3,
.trainer-info p {
    position: relative;
    z-index: 100;
    color: var(--theme-white) !important;
}

.trainer-info h3 {
    font-weight: bolder;
}

.trainer-info-decorator {
    position: absolute;
    width: 90%;
    height: 90%;
    margin: 0 auto;
    left: 2px;
    right: 0;
    top: 0;
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    text-align: center;
    background: var(--theme-color);
}

/* PURCHASE FROM US */
#purchase {
    padding: 50px 0;
}

#purchase .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#purchase h2 {
    color: var(--theme-color);
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

#purchase p {
    color: var(--theme-black);
    font-size: 1rem;
    font-weight: bold;
}

/** products **/
.products {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    overflow: hidden;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    scale: 95%;
    width: 25%;
    height: 50%;
    box-sizing: border-box;
    box-shadow: #4e4e4e 0 0 10px;
    border-radius: 5px;
}

.product * {
    margin: 0;
    padding: 0;
}

.product img {
    width: 100%;
    height: 100%;
}

.old-price {
    text-decoration: line-through;
    color: var(--theme-black);
}

.product button {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 25%;
}

.product-cart-button {
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
    text-decoration: none;
    margin: 10px 0;
    display: inline-block;
}

/* TESTIMONIALS */
#testimonials {
    padding: 50px 0;
    background-color: var(--theme-f6);
}

#testimonials .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

#testimonials h2 {
    color: var(--theme-color);
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

#testimonials p {
    color: var(--theme-black);
    font-size: 1rem;
    font-weight: bold;
}

/** testimonials **/
.testimonials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    margin-top: 15px;
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/** reviewer details **/

.testimonial-owner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.testimonial-owner img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

.testimonial-owner h3 {
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.testimonial-owner p {
    color: var(--theme-black);
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

/** review **/
.testimonial-text {
    scale: 90%;
}

.testimonial-text {
    margin-top: 15px;
    right: 5%;
    width: 100%;
    height: 100%;
    background: var(--theme-color);
    padding: 20px;
}

.testimonial-text {
    padding: 20px 22px;
    background: var(--theme-color);
    font-size: 15px;
    color: var(--theme-white);
    line-height: 25px;
    margin: 0;
    position: relative;
}

.testimonial-text:before,
.testimonial-text:after {
    content: "";
    border-width: 18px 0 0 18px;
    border-style: solid;
    border-color: #5d7aa7 transparent transparent;
    position: absolute;
    bottom: -18px;
    left: 0;
}

.testimonial-text:after {
    border-width: 18px 18px 0 0;
    left: auto;
    right: 0;
}

.testimonial-text p {
    color: white !important;
    font-size: 1.1rem !important;
    font-weight: normal !important;
}

/* CONTACT */
#contact {
    padding: 50px 0;
}

#contact .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

#contact h2 {
    color: var(--theme-color);
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

#contact p {
    color: var(--theme-black);
    font-size: 1rem;
    font-weight: bold;
}

.contact-split-into-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    margin-top: 30px;
}

/** contact-info **/
.contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}

/** contact form **/
.contact-info-and-form form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.contact-info-and-form form input,
.contact-info-and-form form textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: var(--theme-fb);
}

/** map **/
.contact-map iframe {
    width: 500px;
    height: 100%;
    border: none;
}

/* FOOTER */
#footer {
    background-color: var(--theme-color);
    padding: 0;
}

#footer .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    overflow: hidden;
}

/** logo **/
#footer img {
    width: 20%;
    height: 5%;
}

/** paragraph **/
#footer p {
    color: var(--theme-white);
    font-size: 1rem;
    font-weight: normal;
}

/** footer links **/
.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
    margin-top: 15px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}

.footer-column h3 {
    color: var(--theme-white);
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.footer-column a {
    color: var(--theme-white);
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

/** NAVBAR **/
#navbar {
    background-color: var(--theme-color);
    padding: 0;
    position: fixed;
    align-content: center;
    width: 100%;
    z-index: 10000;
}

#navbar .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

#navbar nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
    align-items: center;
    align-content: center;
    text-align: center;
}

/** logo **/
#navbar img {
    width: 20%;
    height: 5%;
}

/** navbar links **/
.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
    margin-top: 15px;
}

#navbar nav a {
    color: var(--theme-white);
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}

.button-theme-base {
    background-color: var(--theme-base);
    border: none;
}

/** navbar transparent **/
.navbar-at-top {
    background-color: transparent !important;
}

/** responsive **/
#navbar-hamburger {
    display: none;
}
